.shows-table {
  border-collapse: collapse;
  border: 1px solid #1d3557;
  width: 100%;
  color: #1d3557;
}

.shows-table th {
  background-color: #457b9d;
  color: #f1faee;
}

.shows-table,
th,
td {
  border-bottom: 1px solid #1d3557;
  padding: 10px;
}

.shows-table .shows-table-row:hover {
  background-color: #a8dadc;
}

/* table td + td {
  border-left: 1px solid #212f45;
} */
