.shows-table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
}

.shows-table th {
  background-color: #212f45;
  color: aliceblue;
}

.shows-table,
th,
td {
  border-bottom: 1px solid #212f45;
  padding: 10px;
}

.shows-table .shows-table-row:hover {
  background-color: #212f45;
  color: aliceblue;
}
