.form-card {
  background-color: #f1faee;
  color: #1d3557;
  border: 2px solid #1d3557;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 100%;
}

.shows-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-field,
.text-area,
.select {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 16px 20px;
  border: 1px solid #1d3557;
  border-radius: 4px;
  font-size: medium;
  background-color: white;
}

.submit-btn {
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  background-color: #1d3557;
  color: #f1faee;
  width: 20%;
}
